Stopwatch v2.2.0.0-dev - Control named out-of-process Timers
Copyright ® 2018-%CURRENT_YEAR% Martin Smith

Usage:
Stopwatch [command-name] { [command-arguments] }

Commands:

List     List all active Stopwatches
Start    Start a named Stopwatch
Stop     Start an active Stopwatch
Cancel   Cancel an active Stopwatch
Elapsed  Display the current elapsed time of an active Stopwatch
Pause    Pause an active Stopwatch
Purge    Purge old Stopwatches
Resume   Resume a paused Stopwatch

Default App arguments can be specified in : C:\Dev\GitHub\martinsmith1968\NativeWindowsConsoleApplicationsCPP\Output\x64\Release\Stopwatch.options
Local App arguments can be specified in : C:\Dev\GitHub\martinsmith1968\NativeWindowsConsoleApplicationsCPP\Stopwatch.options
